body {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  padding-left: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgQuote {
  background-color: white;
  padding: 20px;
  width: min(400px, 100%);
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0 #0007;
  position: relative;
}

.buttonStyles {
  display: block;
  font-size: 20px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  color: white;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  cursor: pointer;
  box-shadow: 1px 1px 5px 0 #000a;
}

.buttonStyles:active {
  box-shadow: 0 0 0 0 #000a;
  transition: box-shadow 200ws ease;
} 